<br><br><br>
<div id="about">
  <h1 id="abthead">
    ABOUT US
  </h1>
  <div class="bgrow" >
  <div class="row1" id="abt" data-aos="fade-up" style="background-color:whitesmoke;">
        <img src="/assets/about1.jpg" id="abtimg">
        <h5 id="abtcontent" data-aos="fade-right" style="width: auto">
          Multiple providers on one platfrom. Choose, View, Compare plans from desired providers  
        </h5>
    </div>
  </div>
    <div class="row1" id="abt" data-aos="fade-up" style="color: white; background-color: grey;">
      <h5 id="abtcontent" data-aos="fade-right" style="text-align: right;">
        Providing Services for diverse clients of Business sectors, Enterprise and Residential Consumers
      </h5>
      <img src="/assets/about2.jpg" id="abtimg">
  </div>
  <div class="bgrow">
  <div class="row1" id="abt" data-aos="fade-up" data-aos-once="false" style="background-color: whitesmoke;">
    <img src="/assets/about3.jpg" id="abtimg" data-os="flip-right">
    <h5 id="abtcontent" data-aos="fade-left">
      Wireline and Wireless services from various providers with variety of features and additional insights for their desired classification
    </h5>
</div>
</div>
</div>