<br><br><br>
<div id="about">
  <h1 id="abthead">
    ABOUT US
  </h1>
  <div class="bgrow" >
  <div class="row1" id="abt" data-aos="fade-up" style="background-color:whitesmoke;">
        <img src="/assets/about1.jpg" id="abtimg">
        <p id="abtcontent" data-aos="fade-right">
          Multiple providers on one platfrom 
        </p>
    </div>
  </div>
    <div class="row1" id="abt" data-aos="fade-up" style="color: white; background-color: grey;">
      <p id="abtcontent" data-aos="fade-right" >
        Providing Services for diverse clients of Business sectors, <br>Enterprise and Residential Consumers
      </p>
      <img src="/assets/about2.jpg" id="abtimg">
  </div>
  <div class="bgrow">
  <div class="row1" id="abt" data-aos="fade-up" data-aos-once="false" style="background-color: whitesmoke;">
    <img src="/assets/about3.jpg" id="abtimg" data-os="flip-right">
    <p id="abtcontent" data-aos="fade-left">
      Wireline and Wireless services from various providers with variety<br> of features and additional insights for their desired classification
    </p>
</div>
</div>
</div>