<!-- <p>details-enterprise works!</p> -->
<!-- <p>viewdetails works!</p> -->
<br><br><br><br>
<!-- Enterprise Wireless -->

<div class="container" style="margin-top: 10px;display: flex;" *ngIf="enterprise.product.category=='Wireless'">
<div class="head">
<div class="row g-0" style="width: 470px;">
    <div class="col-md-4">
      <img [src]="imageUrl(enterprise.product.prod_image)" class="img-fluid start" style="border-top-left-radius: 10px;height: 60px; width: 135px;">
    </div>
    <div class="col-md-8" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);text-align: center;padding: 12px;height: 60px;">
        <h6 class="card-title" style="color: white;">{{enterprise.eplanname}}</h6>
    </div>

</div>
<div class="head1">
  <div class="discount" style="margin-top: 5px;" *ngIf="enterprise.ediscount != null">-{{enterprise.ediscount}}%</div>
  <div class="price" style="display: flex;padding-top: 15px;">
    <span id="sp"></span><h2>₹{{enterprise.efinalPrice}}</h2><small style="padding-top: 15px;padding-bottom: 12px;padding-left: 5px;color: grey;">per month</small>
    <button type="submit" class="btn" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);color: white;border: none;border-radius: 10px;height: 30px;padding-top: 2px;margin-left: 200px;cursor: no-drop;"><span class="fa fa-wifi" style="font-size: 0.8rem;"></span><small>Wireless</small></button>
  </div>
</div>
<div class="rating">
  <ng-container *ngFor="let i of star">
    <i class="fa fa-star"   [ngClass]="{'active':i<=rating}" style="cursor:no-drop;"></i>
  
  </ng-container>
  <small style="margin-top: -4px;color: #FE4F70;"><small>{{enterprise.product.rating}}/5 stars</small></small>
</div>
  <div class="buttns" style="display: flex;">
    <button type="submit" class="btn" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);color: white;border: none;border-radius: 10px;height: 30px;padding-top: 2px;margin-top: 40px;"><span class="fa fa-heart" style="font-size: 0.8rem;"></span><small>ADD TO WISHLIST</small></button>
    <button style="background: white;border: none;" data-bs-toggle="modal" data-bs-target="#emodalwireless"><h6 style="cursor: pointer;color: #FE4F70;margin-top: 40px;margin-left: 200px;">Compare Plans</h6></button>
  </div>

 
    <div class="form-group pt-3" >
      <div class="rating" style="margin-top: 30px;">
        <h6 style="margin-top:-1px;color: #FE4F70;">RATE PLAN &nbsp;</h6>
        <ng-container *ngFor="let i of star">
          <i class="fa fa-star" (click)="updateRating(i)"   [ngClass]="{'active':i<=rate}"></i>
        
        </ng-container>
        </div>
      <div class="input-field" style="height: 80px;" >
          <label>LEAVE A REVIEW</label>
          <input type="text"   name="productname" required title="Comment"  />
      </div>
      <button type="submit" class="btn" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);color: white;border: none;border-radius: 10px;height: 30px;padding-top: 2px;margin-top: 40px;">
        <small>SUBMIT</small></button>
  </div>
</div>

  
<div class="tab" style="margin-right: -4px;margin-left: 30px;">
  <table class="table">
    <tr>
      <th class="py-2"><span class="fa fa-product-hunt fa-xs"></span>PLAN NAME</th>
      <td class="py-2">{{enterprise.eplanname}}</td>
    </tr>
   
    <tr>
      <th class="py-2" style="margin-left: 50px;"><span class="fa fa-rupee fa-lg" ></span>COST</th>
      <td class="py-2">₹{{enterprise.efinalPrice}}</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-percent fa-xs"></span>DISCOUNT</th>
      <td class="py-2">{{enterprise.ediscount}}%</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-wifi fa-xs"></span>DATA</th>
      <td class="py-2">{{enterprise.edata}} GB</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-tachometer fa-xs"></span>THROUGPUT</th>
      <td class="py-2">upto {{enterprise.espeed}} Mbps</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-phone fa-xs"></span>VOIP</th>
      <td class="py-2">{{enterprise.evoip}}</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-video-camera fa-xs"></span>VIDEO CONFERENCING</th>
      <td class="py-2">{{enterprise.evideo}}</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-share-alt fa-xs"></span>MEDIA FILE SHARING</th>
      <td class="py-2">{{enterprise.efilesharing}}</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-cloud fa-xs"></span>CLOUD APPLICATION USAGE</th>
      <td class="py-2">{{enterprise.ecloud}}</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-line-chart fa-xs"></span>FREQUENCY</th>
      <td class="py-2">{{enterprise.efrequency}} GHz</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-sitemap fa-xs"></span>WIRELESS ISOLATION</th>
      <td class="py-2">{{enterprise.eisolation}}</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-registered fa-xs"></span>FAST ROAMING</th>
      <td class="py-2">{{enterprise.eroaming}}</td>
    </tr>
    <tr>
      <th class="py-2"><span class="fa fa-info-circle fa-xs"></span>DESCRIPTION</th>
      <td class="py-2">{{enterprise.edescription}}</td>
    </tr>
    
      

</table>
</div>

</div>

<!-- modal wireless -->
<div class="modal fade" id="emodalwireless" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="h51">COMPARE PLANS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #compare="ngForm" (submit)="getComparePlan(compare.value)">
          <div class="head" style="display: flex;margin-left: 28px;">
              <h3 id="h31"  style="margin-bottom: 5%;margin-top: 20px;">SELECT PLAN TO COMPARE</h3>                       
              <div class="form-group pt-3 " style="margin-top: -28px; margin-left: 15px;width: 400px; " >
                  <div class="input-field" style="border: 1px solid gainsboro;">
                      <span class="fa fa-product-hunt p-2"></span>                               
                      <select  name="planid" id="category" [(ngModel)]="compareid">
                          <option value="" disabled selected>Choose Plan </option>
                          <option *ngFor="let plan of allEnterprise | filter: 'wireless'" value="{{plan.enterpriseId}}">{{plan.eplanname}}</option>           
                      </select>  
                  </div>
              </div>
<button type="submit" class="btn" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);color: white;border: none;border-radius: 10px;height: 30px;padding-top: 2px;margin-left: 20px;margin-top: 13px;">
  <small>COMPARE</small></button>                  
          </div>
      </form>
          <table class="table" id="table1" style="width: 1000px;">
              <tr id="tablehead">
                  <th id="th1"  style="text-align: left;
                  background:   #FE4F70 ;
                  height: 50px;width: 300px;
                  color: white;"><i class="fa fa-th-list" style="color: white;background:  #FE4F70"></i>FEATURES</th>
                  <th id="headertag" style="color: white;">{{enterprise.eplanname}}</th>
                  <th id="headertag" style="color: white;" *ngIf="compareplan != undefined">{{compareplan?.eplanname}}</th>
              </tr>
          
              <tr id="tr1">
                  <th id="th1" class="py-2"><span class="fa fa-product-hunt fa-xs"></span>PLAN NAME</th>
                  <td id="td1" class="py-2">{{enterprise.eplanname}}</td>
                  <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.eplanname}}</td>
                </tr>
               
                <tr id="tr1">
                  <th id="th1"  class="py-2" style="margin-left: 50px;"><span class="fa fa-rupee fa-lg" ></span>COST</th>
                  <td id="td1" class="py-2">₹{{enterprise.efinalPrice}}</td>
                  <td  id="td1" class="py-2" *ngIf="compareplan != undefined">₹{{compareplan?.efinalPrice}}</td>
                </tr>
                <tr id="tr1">
                  <th id="th1" class="py-2"><span class="fa fa-percent fa-xs"></span>DISCOUNT</th>
                  <td id="td1"  class="py-2">{{enterprise.ediscount}}%</td>
                  <td id="td1"  class="py-2" *ngIf="compareplan != undefined">{{compareplan?.ediscount}}%</td>
                </tr>
                <tr id="tr1" >
                  <th id="th1" class="py-2"><span class="fa fa-wifi fa-xs"></span>DATA</th>
                  <td id="td1" class="py-2">{{enterprise.edata}} GB</td>
                  <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.edata}} GB</td>
                </tr>
               
                <tr id="tr1" >
                  <th id="th1" class="py-2"><span class="fa fa-tachometer fa-xs"></span>SPEED</th>
                  <td id="td1" class="py-2">upto {{enterprise.espeed}} Mbps</td>
                  <td id="td1" class="py-2" *ngIf="compareplan != undefined">upto {{compareplan?.espeed}} Mbps</td>
                </tr>
                <tr id="tr1" >
                  <th id="th1" class="py-2"><span class="fa fa-phone fa-xs"></span>VOIP</th>
                  <td id="td1" class="py-2">{{enterprise.evoip}}</td>
                  <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.evoip}}</td>
                </tr>
                <tr id="tr1" >
                  <th id="th1" class="py-2"><span class="fa fa-video-camera fa-xs"></span>VIDEO CONFERENCING</th>
                  <td id="td1" class="py-2">{{enterprise.evideo}}</td>
                  <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.evideo}}</td>
                </tr>
                <tr id="tr1" >
                  <th id="th1" class="py-2"><span class="fa fa-share-alt fa-xs"></span>MEDIA FILE SHARING</th>
                  <td id="td1" class="py-2">{{enterprise.efilesharing}}</td>
                  <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.efilesharing}}</td>
                </tr>
                <tr id="tr1" >
                  <th id="th1" class="py-2"><span class="fa fa-cloud fa-xs"></span>CLOUD APPLICATION USAGE</th>
                  <td id="td1" class="py-2">{{enterprise.ecloud}}</td>
                  <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.ecloud}}</td>
                </tr>

                <tr id="tr1" >
                  <th id="th1"  class="py-2"><span class="fa fa-info-circle fa-xs"></span>DESCRIPTION</th>
                  <td id="td1" class="py-2" >{{enterprise.edescription}}</td>
                  <td id="td1"  class="py-2" *ngIf="compareplan != undefined">{{compareplan?.edescription}}</td>
                </tr>         
      </table>
      </div>
    </div>
  </div>
</div>

<!-- Enterprise Wireline -->

<div class="container" style="margin-top: 30px;display: flex;" *ngIf="enterprise.product.category=='Wireline'">
    <div class="head">
    <div class="row g-0" style="width: 470px;">
        <div class="col-md-4">
          <img [src]="imageUrl(enterprise.product.prod_image)" class="img-fluid start" style="border-top-left-radius: 10px;height: 60px; width: 135px;">
        </div>
        <div class="col-md-8" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);text-align: center;padding: 12px;height: 60px;">
            <h6 class="card-title" style="color: white;">{{enterprise.eplanname}}</h6>
        </div>
    
    </div>
    <div class="head1">
      <div class="discount" style="margin-top: 5px;" *ngIf="enterprise.ediscount != null">-{{enterprise.ediscount}}%</div>
      <div class="price" style="display: flex;padding-top: 15px;">
        <span id="sp"></span><h2>₹{{enterprise.efinalPrice}}</h2><small style="padding-top: 15px;padding-bottom: 12px;padding-left: 5px;color: grey;">per month</small>
        <button type="submit" class="btn" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);color: white;border: none;border-radius: 10px;height: 30px;padding-top: 2px;margin-left: 200px;cursor: no-drop;"><span class="fa fa-wifi" style="font-size: 0.8rem;"></span><small>Wireline</small></button>
      </div>
    </div>
    <div class="rating">
      <ng-container *ngFor="let i of star">
        <i class="fa fa-star"   [ngClass]="{'active':i<=rating}" style="cursor:no-drop;"></i>
      
      </ng-container>
      <small style="margin-top: -4px;color: #FE4F70;"><small>{{rating}}/5 stars</small></small>
    </div>
      <div class="buttns" style="display: flex;">
        <button type="submit" class="btn" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);color: white;border: none;border-radius: 10px;height: 30px;padding-top: 2px;margin-top: 40px;"><span class="fa fa-heart" style="font-size: 0.8rem;"></span><small>ADD TO WISHLIST</small></button>
        <button style="background: white;border: none;" data-bs-toggle="modal" data-bs-target="#emodalwireline">
          <h6 style="cursor: pointer;color: #FE4F70;margin-top: 40px;margin-left: 200px;">Compare Plans</h6></button>
      </div>
    
     
        <div class="form-group pt-3" >
          <div class="rating" style="margin-top: 20px;">
            <h6 style="margin-top:-1px;color: #FE4F70;">RATE PLAN &nbsp;</h6>
            <ng-container *ngFor="let i of star">
              <i class="fa fa-star" (click)="updateRating(i)"   [ngClass]="{'active':i<=rate}"></i>
            
            </ng-container>
            </div>
          <div class="input-field" style="height: 80px;" >
              <label>LEAVE A REVIEW</label>
              <input type="text"   name="productname" required title="Comment"  />
          </div>
          <button type="submit" class="btn" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);color: white;border: none;border-radius: 10px;height: 30px;padding-top: 2px;margin-top: 30px;"><small>SUBMIT</small></button>
      </div>
    </div>
    
      
    <div class="tab" style="margin-right: -4px;margin-left: 30px;">
      <table class="table">
        <tr>
          <th class="py-2"><span class="fa fa-product-hunt fa-xs"></span>PLAN NAME</th>
          <td class="py-2">{{enterprise.eplanname}}</td>
        </tr>
       
        <tr>
          <th class="py-2" style="margin-left: 50px;"><span class="fa fa-rupee fa-lg" ></span>COST</th>
          <td class="py-2">₹{{enterprise.efinalPrice}}</td>
        </tr>
        <tr>
          <th class="py-2"><span class="fa fa-percent fa-xs"></span>DISCOUNT</th>
          <td class="py-2">-{{enterprise.ediscount}}%</td>
        </tr>
        <tr>
          <th class="py-2"><span class="fa fa-wifi fa-xs"></span>DATA</th>
          <td class="py-2">{{enterprise.edata}} GB</td>
        </tr>
        <tr>
          <th class="py-2"><span class="fa fa-tachometer fa-xs"></span>THROUGPUT</th>
          <td class="py-2">upto {{enterprise.espeed}} Mbps</td>
        </tr>
        <tr>
          <th class="py-2"><span class="fa fa-phone fa-xs"></span>VOIP</th>
          <td class="py-2">{{enterprise.evoip}}</td>
        </tr>
        <tr>
          <th class="py-2"><span class="fa fa-video-camera fa-xs"></span>VIDEO CONFERENCING</th>
          <td class="py-2">{{enterprise.evideo}}</td>
        </tr>
        <tr>
          <th class="py-2"><span class="fa fa-share-alt fa-xs"></span>MEDIA FILE SHARING</th>
          <td class="py-2">{{enterprise.efilesharing}}</td>
        </tr>
        <tr>
          <th class="py-2"><span class="fa fa-cloud fa-xs"></span>CLOUD APPLICATION USAGE</th>
          <td class="py-2">{{enterprise.ecloud}}</td>
        </tr>
        
        <tr>
          <th class="py-2"><span class="fa fa-info-circle fa-xs"></span>DESCRIPTION</th>
          <td class="py-2">{{enterprise.edescription}}</td>
        </tr>    
    </table>
    </div>
    
    </div>

    <!-- modal wireline-->
    <div class="modal fade" id="emodalwireline" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="h51">COMPARE PLANS</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #compare="ngForm" (submit)="getComparePlan(compare.value)">
              <div class="head" style="display: flex;margin-left: 28px;">
                  <h3 id="h31"  style="margin-bottom: 5%;margin-top: 20px;">SELECT PLAN TO COMPARE</h3>                       
                  <div class="form-group pt-3 " style="margin-top: -28px; margin-left: 15px;width: 400px; " >
                      <div class="input-field" style="border: 1px solid gainsboro;">
                          <span class="fa fa-product-hunt p-2"></span>                               
                          <select  name="planid" id="category" [(ngModel)]="compareid">
                              <option value="" disabled selected>Choose Plan </option>
                              <option *ngFor="let plan of allEnterprise | filter: 'wireline'" value="{{plan.enterpriseId}}">{{plan.eplanname}}</option>           
                          </select>  
                      </div>
                  </div>
    <button type="submit" class="btn" style="background:-webkit-linear-gradient(left, #FE4F70 0%, #FFA387 100%);color: white;border: none;border-radius: 10px;height: 30px;padding-top: 2px;margin-left: 20px;margin-top: 13px;">
      <small>COMPARE</small></button>                  
              </div>
          </form>
              <table class="table" id="table1" style="width: 1000px;">
                  <tr id="tablehead">
                      <th id="th1" style="text-align: left;
                      background:   #FE4F70 ;
                      height: 50px;width: 300px;
                      color: white;"><i class="fa fa-th-list" style="color: white;background:  #FE4F70"></i>FEATURES</th>
                      <th id="headertag" style="color: white;">{{enterprise.eplanname}}</th>
                      <th id="headertag" style="color: white;" *ngIf="compareplan != undefined">{{compareplan?.eplanname}}</th>
                  </tr>
              
                  <tr id="tr1">
                      <th id="th1" class="py-2"><span class="fa fa-product-hunt fa-xs"></span>PLAN NAME</th>
                      <td id="td1" class="py-2">{{enterprise.eplanname}}</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.eplanname}}</td>
                    </tr>
                   
                    <tr id="tr1">
                      <th id="th1"  class="py-2" style="margin-left: 50px;"><span class="fa fa-rupee fa-lg" ></span>COST</th>
                      <td id="td1" class="py-2">₹{{enterprise.efinalPrice}}</td>
                      <td  id="td1" class="py-2" *ngIf="compareplan != undefined">₹{{compareplan?.efinalPrice}}</td>
                    </tr>
                    <tr id="tr1">
                      <th id="th1" class="py-2"><span class="fa fa-percent fa-xs"></span>DISCOUNT</th>
                      <td id="td1"  class="py-2">{{enterprise.ediscount}}%</td>
                      <td id="td1"  class="py-2" *ngIf="compareplan != undefined">{{compareplan?.ediscount}}%</td>
                    </tr>
                    <tr id="tr1" >
                      <th id="th1" class="py-2"><span class="fa fa-wifi fa-xs"></span>DATA</th>
                      <td id="td1" class="py-2">{{enterprise.edata}} GB</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.edata}} GB</td>
                    </tr>
                    
                    <tr id="tr1" >
                      <th id="th1" class="py-2"><span class="fa fa-tachometer fa-xs"></span>SPEED</th>
                      <td id="td1" class="py-2">upto {{enterprise.espeed}} Mbps</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">upto {{compareplan?.espeed}} Mbps</td>
                    </tr>
                    <tr id="tr1" >
                      <th id="th1" class="py-2"><span class="fa fa-phone fa-xs"></span>VOICE CALL</th>
                      <td id="td1" class="py-2">{{enterprise.evoip}}</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.evoip}}</td>
                    </tr>
                    <tr id="tr1" >
                      <th id="th1" class="py-2"><span class="fa fa-video-camera fa-xs"></span>VIDEO CONFERENCING</th>
                      <td id="td1" class="py-2">{{enterprise.evideo}}</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.evideo}}</td>
                    </tr>
                    <tr id="tr1" >
                      <th id="th1" class="py-2"><span class="fa fa-share-alt fa-xs"></span>MEDIA FILE SHARING</th>
                      <td id="td1" class="py-2">{{enterprise.efilesharing}}</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.efilesharing}}</td>
                    </tr>
                    <tr id="tr1" >
                      <th id="th1" class="py-2"><span class="fa fa-cloud fa-xs"></span>CLOUD APPLICATION USAGE</th>
                      <td id="td1" class="py-2">{{enterprise.ecloud}}</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.ecloud}}</td>
                    </tr>
                    <tr id="tr1" >
                      <th id="th1" class="py-2"><span class="fa fa-line-chart fa-xs"></span>FREQUENCY</th>
                      <td id="td1" class="py-2">{{enterprise.efrequency}} GHz</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.efrequency}} GHz</td>
                    </tr>
                    <tr id="tr1" >
                      <th id="th1" class="py-2"><span class="fa fa-sitemap fa-xs"></span>WIRELESS ISOLATION</th>
                      <td id="td1" class="py-2">{{enterprise.eisolation}}</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.eisolation}}</td>
                    </tr>
              
                  
                    <tr id="tr1" >
                      <th id="th1" class="py-2"><span class="fa fa-registered fa-xs"></span>FAST ROAMING</th>
                      <td id="td1" class="py-2">{{enterprise.eroaming}}</td>
                      <td id="td1" class="py-2" *ngIf="compareplan != undefined">{{compareplan?.eroaming}}</td>
                    </tr>
                   
                    
                    <tr id="tr1" >
                      <th id="th1"  class="py-2"><span class="fa fa-info-circle fa-xs"></span>DESCRIPTION</th>
                      <td id="td1" class="py-2" >{{enterprise.edescription}}</td>
                      <td id="td1"  class="py-2" *ngIf="compareplan != undefined">{{compareplan?.edescription}}</td>
                    </tr>             
          </table>
          </div>
        </div>
      </div>
    </div>