<h2>Login Form</h2>

<form>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required="Enter name" [(ngModel)]="users.username"/>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required="Enter password" [(ngModel)]="users.password"/>
    <button type="submit" (click)="loginuser()">Login</button>
    
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <h6>New User? <a routerLink="/signup" routerLinkActive="active">Signup</a></h6>
  </div>
</form>