<p>home works!</p>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators" >
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
       <div class="carousel-item active" data-bs-interval="4000">
      <!-- <img src="assets\Untitled design (2).gif" class="p-block w-100" alt="..."> -->
      <video width="76%" [muted]="'muted'" loop autoplay ><source src="assets\c1.mp4" type="video/mp4" /></video>
      </div> 
      <div class="carousel-item" data-bs-interval="4000">
        <!-- <img src="assets\Untitled design (2).gif" class="p-block w-100" alt="..."> -->
        <video width="76%" [muted]="'muted'" loop autoplay ><source src="assets\c2.mp4" type="video/mp4" /></video>
      </div>
      <div class="carousel-item video" data-bs-interval="4000">
        <!-- <img src="https://images.unsplash.com/photo-1588702547919-26089e690ecc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b25saW5lfGVufDB8fDB8fHww&w=1000&q=80" class="d-block w-100" alt="..."> -->
        <video width="76%" [muted]="'muted'" loop autoplay ><source src="assets\c3.mp4" type="video/mp4" /></video>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<app-about></app-about>
<!-- <app-footer></app-footer> -->