<!-- <p>home works!</p> -->
<div *ngIf="getRole()=='default'">
  <br>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-indicators" >
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
       <div class="carousel-item active" data-bs-interval="4000">
      <!-- <img src="assets\Untitled design (2).gif" class="p-block w-100" alt="..."> -->
      <video width="76%" [muted]="'muted'" loop autoplay ><source src="assets\c1.mp4" type="video/mp4" /></video>
      <a routerLink='/login' style="position: absolute;margin-left: -850px;margin-top: 370px;color: white;cursor: pointer;border-radius: 20px;">GET STARTED</a>
      </div> 
      <div class="carousel-item" data-bs-interval="4000">
        <!-- <img src="assets\Untitled design (2).gif" class="p-block w-100" alt="..."> -->
        <video width="76%" [muted]="'muted'" loop autoplay ><source src="assets\c2.mp4" type="video/mp4" /></video>
      </div>
      <div class="carousel-item video" data-bs-interval="4000">
        <!-- <img src="https://images.unsplash.com/photo-1588702547919-26089e690ecc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b25saW5lfGVufDB8fDB8fHww&w=1000&q=80" class="d-block w-100" alt="..."> -->
        <video width="76%" [muted]="'muted'" loop autoplay ><source src="assets\c3.mp4" type="video/mp4" /></video>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div id="about">
<app-about></app-about>
</div>
</div>

<!-- <app-footer></app-footer> -->


<br><br><br>
<div *ngIf="getRole()=='user'">
<div class="outer" style="height: 500px;" >
    <video width="100%" [muted]="'muted'" loop autoplay ><source src="assets\userhome.mp4" type="video/mp4" /></video>
    <a href="#con" style="position: absolute;margin-left: -1130px;margin-top: 400px;">EXPLORE PLANS</a>
</div>
<div id="con" class="contain">
    
    <div class="card" >
        <div class="imgbx">
            <img src="assets/enterprisecard.png">
        </div>
        <div class="content" >
            <h3>ENTERPRISE</h3>
            <p  align="justify">Accelerate your business with Internet Solutions with everything your business needs to grow. </p>
            <a href="http://localhost:4200/user/enterprise">VIEW PLANS</a>
        </div>   
    </div>
    <div class="card" >
        <div class="imgbx">
            <img src="assets/businesscard.png">
        </div>
        <div class="content" >
            <h3>BUSINESS</h3>
            <p  align="justify">Propel your Business to next level with next-gen technologies and accelerate your journey with smart digital platforms.</p>
            <a href="http://localhost:4200/user/business">VIEW PLANS</a>
        </div>   
    </div>
    <div class="card" >
        <div class="imgbx">
            <img src="assets/residentialcard.png">
        </div>
        <div class="content" >
            <h3>RESIDENTIAL</h3>
            <p  align="justify">Wi-Fi like speeds, now on the go and get Unlimited Entertainment with the latest plans and offers.</p>
            <a href="http://localhost:4200/user/residential">VIEW PLANS</a>
        </div>   
    </div>
</div>
</div>


